@model BoardGames.Search.SearchResults

@{
    ViewData["Title"] = "Home Page";
}

<div id="search-page">
 @Html.Partial("_Search")
</div>

@section scripts
{
  <script type="text/javascript">

      $(function() {
          $(document).on('keypress', '#search-text', function(e) {
              if (e.keyCode == 13)
                search();
          });

          $(document).on('click', '.aggregation-container :checkbox', search);
      });

      function search() {
          var searchCriteria = {
               SearchText: $('#search-text').val(),
               SelectedGameTypes: selectedFilters('SelectedGameTypes'),
               SelectedAges: selectedFilters('SelectedAges'),
               SelectedPlayingTimes: selectedFilters('SelectedPlayingTimes'),
          };

          $.ajax({
              url: '/Home/Search',
              type: "POST",
              data: JSON.stringify(searchCriteria),
              contentType: "application/json; charset=UTF-8"
          })
          .success(function(response) {
              $('#search-page').html(response);
          });
      }

      function selectedFilters(filterName) {
          return $('[name=' + filterName + ']:checked').map(function() {
              return parseInt(this.value);
            }).get();
      }
  </script>
}