@model BoardGames.Search.SearchResults

@{
    ViewData["Title"] = "Home Page";
}

<div id="search-page">
 @Html.Partial("_Search")
</div>

@section scripts
{
  <script type="text/javascript">

      $(function() {
          $(document).on('keypress', '#search-text', function(e) {
              if (e.keyCode == 13)
                search();
          });

          $(document).on('click', '.aggregation-container :checkbox', search);
      });

      function search() {
          var searchText = $('#search-text').val();
          var selectedGameTypes = $('[name=SelectedGameTypes]:checked').map(function() {
              return this.value;
            }).get();

          var searchCriteria = { SearchText: searchText, SelectedGameTypes: selectedGameTypes };

          $.ajax({
              url: '/Home/Search',
              type: "POST",
              data: JSON.stringify(searchCriteria),
              contentType: "application/json; charset=UTF-8"
          })
          .success(function(response) {
              $('#search-page').html(response);
          });
      }
  </script>
}